In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('/kaggle/input/upi-data/upi_dataset_final.csv')

In [3]:
df.head()

                                            sms_text   category  amount
0  Your HDFC Bank UPI txn of Rs 350.75 to Zomato ...       Food  350.75
1  Rs 125.00 debited from SBI UPI for Swiggy orde...       Food  125.00
2  Payment of Rs 850 to ABC Restaurant via Paytm ...       Food  850.00
3  Rs 45 debited for Tea Stall purchase at Chowk ...       Food   45.00
4  Your SBI UPI payment of Rs 299.99 to Blinkit #...  Groceries  299.99

In [4]:
df.shape

(3682, 3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sms_text  3682 non-null   object
 1   category  3682 non-null   object
 2   amount    3681 non-null   float64
dtypes: float64(1), object(2)
memory usage: 86.4+ KB

In [6]:
df.duplicated().sum()

334

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.duplicated().sum()

0

In [9]:
df.isnull().sum()

sms_text    0
category    0
amount      1
dtype: int64

In [10]:
df.dropna(subset=['amount'],inplace=True)

In [11]:
df.isnull().sum()

sms_text    0
category    0
amount      0
dtype: int64

In [12]:
#pd.set_option('display.max_columns', 5)

In [13]:
a = df.sample(22)['sms_text']

In [14]:
a = df.iloc[22]['sms_text']
a

'Payment of Rs 800 to BookMyShow via Paytm UPI on 02-10-2023. Ref: BMS567.'

In [15]:
def data_process(text):
    """Rs = re.search(r"Rs\.\s\d*",text)#Rs. 20
    amt = rs.group()
    if amt:
        cost.append(int(amt[4:]))
    Rs_des = re.search(r"Rs\.\s\d*\.\d*",text)# Rs. 20.00
    amt = Rs_des.group()
    if amt:
        cost.append(int(amt[4:]))
    b = re.search(r"Rs\.\s\d+\.\d+",text)#Rs. 333.0
    amt = rs.group()
    if amt:
        cost.append(int(amt[4:]))
    b = re.search(r"Rs\.\s\d*", text)#Rs. 333
    b = re.search(r"Rs\.\s\d*\,\d+\.\d+",a)# Rs. 2,000.00
    b = re.search(r"Rs\.\s\d*\,\d+",a)# Rs. 2,000
    b = re.search(r"Rs\.\s\d*\,\d*\,\d*",a)#Rs. 33,00,000
    b = re.search(r"Rs\.\s\d*\,\d*\,\d+\.\d*",a)#Rs. 33,00,000.00
    b = re.search(r"Rs\s+\d+",text)#Rs 20
    b = re.search(r"Rs\s+\d*\.\d*",text)#Rs 20.00
    b = re.search(r"Rs\s+\d+\.\d+",text)#Rs 333.0
    b = re.search(r"Rs\s\d*", text)#Rs. 333
    b = re.search(r"Rs\s\d*\,\d+",a)# Rs 2,000
    b = re.search(r"Rs\s\d*\,\d+\.\d+",a)# Rs 2,000.00
    b = re.search(r"Rs\s\d*\,\d*\,\d+",a)#Rs 33,00,000
    b = re.search(r"Rs\s\d*\,\d*\,\d+\.\d*",a)#Rs 33,00,000.00
    b = re.search(r"INR\s\d*\.\d*",a)#INR 20.00
    b = re.search(r"INR\s\d*",a)#INR 20
    b = re.search(r"INR\s\d*\.\d+",text)#INR 333.0
    b = re.search(r"INR\s\d*",text)#INR 200
    b = re.search(r"INR\s\d*\,\d*",a)#INR 2,000
    b = re.search(r"INR\s\d*\,\d*\.\d*",a)#INR 2,000.00
    b = re.search(r"INR\s\d*\,\d*\,\d+",a)#INR 33,00,000
    b = re.search(r"INR\s\d*\,\d*\,\d+\.\d*",a)#INR 33,00,000."""
    # Rs Rs. or INR space optional 1-2 digit,2-3digit,1-3digit dot 1-2 digit
    #?: is used for caturing and continueing the catpure if it not used it will immedidatly return the initally captured txt(Rs)
    pattern = '(?:Rs\.?|INR)\s?\d{1,3}(?:,\d{2})*(?:,\d{3})*(?:\.\d+)?'
    masked_sms = re.sub(r'\d{9,18}','Masked_Number',text)
    amt = re.search(pattern,text)
    if amt:
        str_amt = amt.group()
        pro_str = re.sub(r',','',str_amt)
        int_amt = pro_str[3:].strip()

        return float(int_amt),masked_sms

In [16]:
# Rs Rs. or INR space 1-2 digit,2-3digit,1-3digit dot 1-2 digit
#pattern = '(?:Rs\.?|INR)\s\d{1,3}(?:,\d{2})*(?:,\d{3})*(?:\.\d+)?'

a = 'INR 295 debited for petrol at Indian Oil from acc 123456789012'

In [17]:
print(data_process(a))

(295.0, 'INR 295 debited for petrol at Indian Oil from acc Masked_Number')

In [18]:
re.sub(r'\d{9,18}','Masked_Number',a)

'INR 295 debited for petrol at Indian Oil from acc Masked_Number'

In [19]:
dum_df = df

In [20]:
dum_df

                                               sms_text   category   amount
0     Your HDFC Bank UPI txn of Rs 350.75 to Zomato ...       Food   350.75
1     Rs 125.00 debited from SBI UPI for Swiggy orde...       Food   125.00
2     Payment of Rs 850 to ABC Restaurant via Paytm ...       Food   850.00
3     Rs 45 debited for Tea Stall purchase at Chowk ...       Food    45.00
4     Your SBI UPI payment of Rs 299.99 to Blinkit #...  Groceries   299.99
...                                                 ...        ...      ...
3647  Your HDFC UPI ID xyz@hdfc debited INR 420.00 f...       Food   420.00
3652  Paytm UPI txn INR 1,050.00 for Swiggy order #6...       Food  1050.00
3661  Your HDFC UPI ID xyz@hdfc debited INR 320.00 f...       Food   320.00
3669  SBI UPI txn INR 380.75 for Zomato order #67686...       Food   380.75
3673  Paytm UPI txn INR 1,250.00 for Swiggy order #6...       Food  1250.00

[3347 rows x 3 columns]

In [21]:
#dum_df[['amount','masked_sms_text']] = pd.DataFrame(dum_df['sms_text'].apply(data_process).tolist(),
#    index=dum_df.index
#)
dum_df['masked_sms_text'] = df['sms_text'].apply(lambda x: data_process(x)[1])

In [22]:
dum_df

,sms_text,category,amount,masked_sms_text
0,Your HDFC Bank UPI txn of Rs 350.75 to Zomato ...,Food,350.75,Your HDFC Bank UPI txn of Rs 350.75 to Zomato ...
1,Rs 125.00 debited from SBI UPI for Swiggy orde...,Food,125.00,Rs 125.00 debited from SBI UPI for Swiggy orde...
2,Payment of Rs 850 to ABC Restaurant via Paytm ...,Food,850.00,Payment of Rs 850 to ABC Restaurant via Paytm ...
3,Rs 45 debited for Tea Stall purchase at Chowk ...,Food,45.00,Rs 45 debited for Tea Stall purchase at Chowk ...
4,Your SBI UPI payment of Rs 299.99 to Blinkit #...,Groceries,299.99,Your SBI UPI payment of Rs 299.99 to Blinkit #...
...,...,...,...,...
3647,Your HDFC UPI ID xyz@hdfc debited INR 420.00 f...,Food,420.00,Your HDFC UPI ID xyz@hdfc debited INR 420.00 f...
3652,"Paytm UPI txn INR 1,050.00 for Swiggy order #6...",Food,1050.00,"Paytm UPI txn INR 1,050.00 for Swiggy order #6..."
3661,Your HDFC UPI ID xyz@hdfc debited INR 320.00 f...,Food,320.00,Your HDFC UPI ID xyz@hdfc debited INR 320.00 f...
3669,SBI UPI txn INR 380.75 for Zomato order #67686...,Food,380.75,SBI UPI txn INR 380.75 for Zomato order #67686...
3673,"Paytm UPI txn INR 1,250.00 for Swiggy order #6...",Food,1250.00,"Paytm UPI txn INR 1,250.00 for Swiggy order #6..."

In [23]:
dum_df.loc[2100]['masked_sms_text']

'Rs. 210.00 debited for Uber via Paytm. Ref: UB987. 04-06-2025.'

In [24]:
dum_df['amount'].isnull().sum()

0

In [25]:
dum_df.loc[dum_df['amount'].isnull()]

Empty DataFrame
Columns: [sms_text, category, amount, masked_sms_text]
Index: []

In [26]:
examples = [
    "Rs. 333", "Rs 20", "Rs 2,000.00", "Rs 33,00,000.00",
    "INR 20", "INR 2,000", "INR 33,00,000.00",'r HDFC Bank UPI txn of Rs 350.75 to Zomato #Z1234 on 10-09-2023 succeeded. Ref ID: HDF12345',
    'Debit of Rs.75 from your Axis bank UPI to TEA '
]

for i in examples:
    print(data_process(i))

(333.0, 'Rs. 333')
(20.0, 'Rs 20')
(200.0, 'Rs 2,000.00')
(330000.0, 'Rs 33,00,000.00')
(20.0, 'INR 20')
(200.0, 'INR 2,000')
(330000.0, 'INR 33,00,000.00')
(350.75, 'r HDFC Bank UPI txn of Rs 350.75 to Zomato #Z1234 on 10-09-2023 succeeded. Ref ID: HDF12345')
(75.0, 'Debit of Rs.75 from your Axis bank UPI to TEA ')

In [27]:
df['category'].unique()

array(['Food', 'Groceries', 'Travel', 'Medical', 'Bills', 'Others'],
      dtype=object)

In [28]:
dum_df['encoded_category'] = dum_df['category'].apply(lambda x : 0 if x == 'Food' else 1 if x == 'Groceries' else 2 if x == 'Travel' else 3 if x == 'Medical' else 4 if x== 'Bills' else 5)

In [29]:
dum_df.isnull().sum()

sms_text            0
category            0
amount              0
masked_sms_text     0
encoded_category    0
dtype: int64

In [30]:
dum_df

,sms_text,category,amount,masked_sms_text,encoded_category
0,Your HDFC Bank UPI txn of Rs 350.75 to Zomato ...,Food,350.75,Your HDFC Bank UPI txn of Rs 350.75 to Zomato ...,0
1,Rs 125.00 debited from SBI UPI for Swiggy orde...,Food,125.00,Rs 125.00 debited from SBI UPI for Swiggy orde...,0
2,Payment of Rs 850 to ABC Restaurant via Paytm ...,Food,850.00,Payment of Rs 850 to ABC Restaurant via Paytm ...,0
3,Rs 45 debited for Tea Stall purchase at Chowk ...,Food,45.00,Rs 45 debited for Tea Stall purchase at Chowk ...,0
4,Your SBI UPI payment of Rs 299.99 to Blinkit #...,Groceries,299.99,Your SBI UPI payment of Rs 299.99 to Blinkit #...,1
...,...,...,...,...,...
3647,Your HDFC UPI ID xyz@hdfc debited INR 420.00 f...,Food,420.00,Your HDFC UPI ID xyz@hdfc debited INR 420.00 f...,0
3652,"Paytm UPI txn INR 1,050.00 for Swiggy order #6...",Food,1050.00,"Paytm UPI txn INR 1,050.00 for Swiggy order #6...",0
3661,Your HDFC UPI ID xyz@hdfc debited INR 320.00 f...,Food,320.00,Your HDFC UPI ID xyz@hdfc debited INR 320.00 f...,0
3669,SBI UPI txn INR 380.75 for Zomato order #67686...,Food,380.75,SBI UPI txn INR 380.75 for Zomato order #67686...,0
3673,"Paytm UPI txn INR 1,250.00 for Swiggy order #6...",Food,1250.00,"Paytm UPI txn INR 1,250.00 for Swiggy order #6...",0

In [31]:
dum_df = dum_df.sample(frac=1,random_state=42).reset_index(drop=True)
dum_df

,sms_text,category,amount,masked_sms_text,encoded_category
0,MedPlus INR 2800 on 28-10-2025 Ref No: MP2800 ...,Medical,2800.00,MedPlus INR 2800 on 28-10-2025 Ref No: MP2800 ...,3
1,"SBI UPI txn of INR 1,800 for Pet Care Services...",Others,1800.00,"SBI UPI txn of INR 1,800 for Pet Care Services...",5
2,"Axis Bank UPI payment of INR 1,360 to Indian O...",Travel,1360.00,"Axis Bank UPI payment of INR 1,360 to Indian O...",2
3,Your HDFC account xx2828 debited INR 420.55 fo...,Others,420.55,Your HDFC account xx2828 debited INR 420.55 fo...,5
4,"Your UPI transaction Rs. 2,600.00 for premium ...",Others,2600.00,"Your UPI transaction Rs. 2,600.00 for premium ...",5
...,...,...,...,...,...
3342,SBI UPI transaction of INR 680 for Online subs...,Others,680.00,SBI UPI transaction of INR 680 for Online subs...,5
3343,Your ICICI account xx9012 credited with INR 15...,Food,1500.00,Your ICICI account xx9012 credited with INR 15...,0
3344,"SBI UPI txn of INR 2,250 for BookMyShow ticket...",Others,2250.00,"SBI UPI txn of INR 2,250 for BookMyShow ticket...",5
3345,Rs. 660.00 debited for SWIGGY on 08-09-2023. R...,Food,660.00,Rs. 660.00 debited for SWIGGY on 08-09-2023. R...,0
3346,Kotak Mahindra UPI payment INR 350.00 for mobi...,Bills,350.00,Kotak Mahindra UPI payment INR 350.00 for mobi...,4

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
#from sklearn.linear_model import LinearSVM
from sklearn.metrics import classification_report
import joblib

In [33]:
"""vectorizer= TfidfVectorizer(stop_words='english')
tfidf = vectorizer.fit_transform(df['sms_text'])"""

"vectorizer= TfidfVectorizer(stop_words='english')\ntfidf = vectorizer.fit_transform(df['sms_text'])"

In [34]:
x = dum_df[['masked_sms_text']]
y = dum_df['encoded_category']

In [35]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state= 42,stratify=y)

In [36]:
x_train

                                        masked_sms_text
1978  Rs. 310.00 spent on petrol at Bharat Petroleum...
1959  Paytm UPI debit of INR 720 to Gas Bill on 29-D...
3059  HDFC: Rs. 500.00 for DTH recharge (Acc 111222)...
2473  INR 2750 spent at DMART on 03-09-2025 Ref: DMR...
3130  Rs. 55.00 paid for Rapido via SBI. Ref ID: RP4...
...                                                 ...
1747  ICICI UPI txn of INR 2,940 to Dr. Mehta Clinic...
948   Rs. 420.00 debited for petrol at Bharat Petrol...
719   Paytm UPI debit of INR 299.99 to DMart Essenti...
1635  Rs. 410.00 debited for DTH RECHARGE via UPI on...
1417  Rs. 295.00 debited for petrol at Indian Oil vi...

[2677 rows x 1 columns]

In [37]:
transformer = ColumnTransformer([
    ('text',TfidfVectorizer(stop_words='english'),'masked_sms_text')
]
)

In [38]:
from sklearn.model_selection import GridSearchCV

In [39]:
"""params = {
    'n_estimators':[50,100,200],
    #'max_leaf_nodes':[,2,3,4],
    'min_samples_leaf': [5,10,20],
    'min_samples_split':[10,20],
    'max_depth':[10,20,30,40]
}"""
params = {
    # 1. Bring back 'None' or very deep trees.
    # Text usually needs depth > 50 to capture vocabulary.
    'max_depth': [None, 100, 200],

    # 2. Lower the leaf requirement.
    # '1' allows memorization. '2' or '4' cuts just the extreme noise.
    # '10' (from before) was clearly too high for this dataset.
    'min_samples_leaf': [1, 2, 4],

    # 3. Standard split requirements
    'min_samples_split': [2, 5, 10],

    # 4. Increase trees to stabilize variance
    'n_estimators': [100, 200]
}

In [40]:
grid_search = GridSearchCV(RandomForestClassifier(),param_grid=params,scoring = 'accuracy',n_jobs=-1,cv=5)

In [41]:
pipeline = Pipeline([
    ('processor',transformer),
    ('model',LogisticRegression())
])

In [42]:
pipeline.fit(x_train,y_train)

Pipeline(steps=[('processor',
                 ColumnTransformer(transformers=[('text',
                                                  TfidfVectorizer(stop_words='english'),
                                                  'masked_sms_text')])),
                ('model', LogisticRegression())])

In [43]:
#pipeline.named_steps['model'].best_params_

In [44]:
#pipeline.named_steps['model'].best_score_

In [45]:
print('test score ',pipeline.score(x_test,y_test))
print('train score ',pipeline.score(x_train,y_train))

test score  0.9805970149253731
train score  0.9902876354127755

In [46]:
pred = pipeline.predict(x_test)

In [47]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      0.92      0.96        87
           1       0.97      0.99      0.98        71
           2       0.99      1.00      1.00       209
           3       1.00      0.97      0.99        76
           4       1.00      0.96      0.98        80
           5       0.94      1.00      0.97       147

    accuracy                           0.98       670
   macro avg       0.98      0.97      0.98       670
weighted avg       0.98      0.98      0.98       670

In [48]:
joblib.dump(pipeline, 'full_classification_pipeline.joblib')

['full_classification_pipeline.joblib']

In [49]:
joblib.dump(pipeline.named_steps['model'],'trained_model.joblib')

['trained_model.joblib']

In [50]:
pd.__version__

'2.2.3'

In [51]:
import sklearn
print(sklearn.__version__)

1.2.2

In [52]:
np.__version__

'1.26.4'

In [53]:
joblib.__version__

'1.5.2'

In [54]:
df['sms_text'].iloc[2010]

'Rs. 3,500.00 spent on flight via Axis. Ref: FL789. 31-08-2025.'

In [55]:
new_data = pd.DataFrame({'masked_sms_text': ['Paid INR 2,800 to HOSPITAL XYZ for ICU charges. Ref: MED5678. Paytm.','Rs. 3,500.00 spent on flight via Axis. Ref: FL789. 31-08-2025.']})

In [56]:
processor = pipeline.named_steps['processor']
vect_data = processor.transform(new_data)
predcit = pipeline.named_steps['model'].predict(vect_data)

In [71]:
pipeline.classes_

array([0, 1, 2, 3, 4, 5])

In [66]:
a = df['sms_text'].iloc[1:20].apply(lambda x:data_process(x)[0]).to_list()

In [69]:
len(a)

19

In [75]:
df[['masked_sms_text']]

                                        masked_sms_text
0     Your HDFC Bank UPI txn of Rs 350.75 to Zomato ...
1     Rs 125.00 debited from SBI UPI for Swiggy orde...
2     Payment of Rs 850 to ABC Restaurant via Paytm ...
3     Rs 45 debited for Tea Stall purchase at Chowk ...
4     Your SBI UPI payment of Rs 299.99 to Blinkit #...
...                                                 ...
3647  Your HDFC UPI ID xyz@hdfc debited INR 420.00 f...
3652  Paytm UPI txn INR 1,050.00 for Swiggy order #6...
3661  Your HDFC UPI ID xyz@hdfc debited INR 320.00 f...
3669  SBI UPI txn INR 380.75 for Zomato order #67686...
3673  Paytm UPI txn INR 1,250.00 for Swiggy order #6...

[3347 rows x 1 columns]

In [89]:
sm =["SBI UPI transaction of INR 125.50 to Swiggy (Order ID SWG789) completed on 12/09/2023. Ref No: SBI0912XYZ.","SBI UPI transaction of INR 125.50 to Swiggy (Order ID SWG789) completed on 12/09/2023. Ref No: SBI0912XYZ."]
data = pd.DataFrame({'sms_text':sm})
data

                                            sms_text
0  SBI UPI transaction of INR 125.50 to Swiggy (O...
1  SBI UPI transaction of INR 125.50 to Swiggy (O...

In [90]:
data['masked_sms_text'] = data['sms_text'].apply(lambda s: data_process(s)[1] if data_process(s)[1] else s)

In [91]:
data

,sms_text,masked_sms_text
0,SBI UPI transaction of INR 125.50 to Swiggy (O...,SBI UPI transaction of INR 125.50 to Swiggy (O...
1,SBI UPI transaction of INR 125.50 to Swiggy (O...,SBI UPI transaction of INR 125.50 to Swiggy (O...